@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

body { margin: 0px; }
.area-edit { display: none; }
.wrap { width: 538px; margin: 10px auto; }
#contents { width: 538px; }

/* 검색창 스타일 추가 */
.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}
.search-container input {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.search-container button {
    padding: 10px 20px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.area-write { position: relative; width: 538px; }
.area-write img { cursor: pointer; position: absolute; width: 22.2px; height: 18.7px; bottom: 15px; right: 17px; }
.background-header { position: fixed; z-index: -1; top: 0px; width: 100%; height: 428px; background-color: #339af0; }
.background-body { position: fixed; z-index: -1; top: 428px; height: 100%; width: 100%; background-color: #dee2e6; }
.header { margin-top: 50px; }
.header h2 { height: 33px; font-size: 42px; font-weight: 500; text-align: center; color: #ffffff; line-height: 0.79; }
.header p { margin: 40px auto; width: 217px; font-family: 'Noto Sans KR', sans-serif; font-size: 16px; text-align: center; color: #ffffff; }

textarea.field { width: 502px !important; height: 146px; border-radius: 5px; background-color: #ffffff; border: none; padding: 18px; resize: none; }
.card { width: 538px; border-radius: 5px; background-color: #ffffff; margin-bottom: 12px; }
.card .metadata { position: relative; display: flex; font-family: 'Spoqa Han Sans'; font-size: 11px; color: #adb5bd; padding: 10px 23px; }
.card .metadata .username { margin-left: 20px; }
.contents { padding: 0px 23px; word-wrap: break-word; word-break: break-all; }
.contents div.edit { display: none; }
.contents textarea.te-edit { border: none; border-bottom: 1px solid #212529; width: 100%; resize: none; }
.footer { position: relative; height: 40px; }
.footer img { cursor: pointer; position: absolute; }
.footer img.icon-start-edit { bottom: 14px; right: 55px; width: 18px; height: 18px; }
.footer img.icon-end-edit { display: none; bottom: 14px; right: 55px; width: 20px; height: 15px; }
.footer img.icon-delete { bottom: 12px; right: 19px; width: 14px; height: 18px; }